<a href="/{{post_name}}">
	<div class='item item-head-post'>
		
		<h4>{{{post_title}}} {{#issue}}<span class='issue-number'>#{{issue}}{{/issue}}</span></h4>
		<div class='sub-title'>{{subtitle}}</div>
		<div class='thumbnail-container' style='background-image: url({{thumbnail}});'></div>

	</div>
</a>