<a href="/{{post_name}}">
	<div class="item highlight-post" style="background-image:url({{thumbnail}});">
		
		<div class="bg-fade">
			<h4>{{post_title}}</h4>
			
			<div class='sub-title'>{{subtitle}}</div>
			
			{{{post_excerpt}}}
		</div>

	</div>
</a>

