<a href="/{{post_name}}">
	<div class="item highlight-post-free">
		
		<img src="{{thumbnail}}" title="{{post_title}}" />
		
		<div class="">
			<br>
			<h4><b>{{post_title}}</b></h4>
			<br>
			<div class='sub-title'>{{subtitle}}</div>
			<br>
			<div class='excerpt'>{{{post_excerpt}}}</div>
		</div>

	</div>
</a>

