<a href="/{{post_name}}">
	<div class='item item-tail-post'>
		
		<h4>{{post_title}}<span class='issue-number'> #{{issue}}</span></h4>
		<div class='thumbnail-container' style='background-image: url({{thumbnail}});'></div>
		
		<div class='sub-title'>{{subtitle}}</div>
		
		{{{post_excerpt}}}

	</div>
</a>