<div class='magazine-relation'>
	<a href="{{issue.link}}" target="_blank"><img src="{{issue.thumbnail}}" /></a>
	<span>This article appeared in <strong>DAM<sub>N°</sub>{{issue.number}}</strong>. <a href="{{issue.link}}">Order your personal copy</a>.</span>
</div>