<h2 class='items-title'>Related Posts</h2>

<div class="container">
	<div class="row items-group">
			
		{{#posts}}
		<div class="col-xs-12 col-md-6 col-lg-3">
		
			{{> partials/items/head-post}}
		
		</div>
		{{/posts}}
		
	</div>
</div>