<div class='robin-hood'>
	<a href="{{issue.brand.url}}" target="_blank"><img src="{{issue.brand.logo}}" /></a>
	<span>This online edition is made possible thanks to our awesome partner <a href='{{issue.brand.url}}'>{{issue.brand.name}}</a>, whose generosity enables us to publish all the premium content of this issue online, at no cost to our readers. Thank you, {{issue.brand.name}}, for teaming up with us for this edition.</span>
</div>