<nav class="sub-footer">
	
	<div class="container post-content">
		
		<div class="row">
			<div class="col-md-12">
				
				<a href="/" title="DAMN° Home">
					<img src="{{theme_path}}/dist/images/logo-negative.svg" class='logo' alt="DAMN° Home" />
				</a>
				
				<div>
					{{{navigation}}}
				</div>
			</div>
		</div>
	</div>
</nav>