<nav id="projects-subfooter" class="sub-footer">

	<div class="container post-content">
		
		<div class="row">
			<div class="col-md-12">
				
				<div  class="col-md-2">
					<a href="/" title="DAMN° Home">
						<img src="{{theme_path}}/dist/images/logo-negative.svg" class='logo' alt="DAMN° Home" />
					</a>
				</div>

				<div>
					{{{navigation}}}
				</div>
			</div>
		</div>
	</div>
</nav>