#home-carousel {
	.carousel-inner {
		.item {
			height: 480px;
			background-color: #ccc;
			
			@media screen and (max-width: 1279px) { height: 420px; }
			@media screen and (max-width: 1023px) { height: 400px; }
			@media screen and (max-width: 990px) { height: 420px; }
			@media screen and (max-width: 679px) { height: 380px; }
			@media screen and (max-width: 559px) { height: 280px; }
			
			a > img {
				width: 104%;
				max-width: 104%;
				margin-left: -2%;
			}
			
			.carousel-caption {
				left: 5%;
				right: 5%;
				padding-left: 10%;
				padding-right: 10%;
				background: rgba(0,0,0, .4);
				text-align: left;

				h3 { 
					font-weight: bold;
					font-size: 1.75em;
					text-transform: uppercase;
					text-align: left;
				}
				p {
					font-size: 1.25em;
					line-height: 1.2em;
				}
			}
			 
			
		}
	}
}